In [1]:
import pandas as pd
startup = pd.read_csv("startups.csv")
bigcorp = pd.read_csv("campanydata.csv")

In [2]:
startup

,Company,Valuation ($B),Year,Date Joined,Country,City,Industry,Investors,Number of investors,Count,Continent
0,ByteDance,$140,2017,7/04/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",4,1,Asia
1,SpaceX,$127,2012,1/12/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",3,1,Europe
2,SHEIN,$100,2018,3/07/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",3,1,Asia
3,Stripe,$95,2014,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",3,1,Europe
4,Canva,$40,2018,8/01/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",3,1,Oceania
...,...,...,...,...,...,...,...,...,...,...,...
1181,LeadSquared,$1,2022,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",3,1,Asia
1182,FourKites,$1,2022,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu...",3,1,Europe
1183,VulcanForms,$1,2022,5/07/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr...",3,1,Europe
1184,SingleStore,$1,2022,12/07/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective",3,1,Europe
1185,Unstoppable Domains,$1,2022,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",3,1,Europe

In [14]:
continent = pd.read_csv('countryContinent.csv')

In [3]:
num_1 = (startup.groupby(['Country']).count())[["Company"]]
num_1.reset_index(inplace=True)
num_1.rename({'Country': 'country'}, axis=1, inplace=True)
num_1

                 country  Company
0              Argentina        1
1              Australia        8
2                Austria        2
3                Bahamas        1
4                Belgium        3
5                Bermuda        1
6                 Brazil       17
7                 Canada       19
8                  Chile        2
9                  China      174
10              Colombia        3
11               Croatia        2
12        Czech Republic        1
13               Denmark        2
14               Ecuador        1
15               Estonia        2
16               Finland        4
17                France       24
18               Germany       29
19             Hong Kong        7
20                 India       70
21             Indonesia        7
22               Ireland        6
23                Israel       22
24                 Italy        1
25                 Japan        6
26             Lithuania        2
27            Luxembourg        1
28              Malaysia        1
29                Mexico        8
30           Netherlands        7
31               Nigeria        1
32                Norway        5
33           Philippines        2
34               Senegal        1
35            Seychelles        1
36             Singapore       13
37          South Africa        2
38           South Korea       17
39                 Spain        4
40                Sweden        8
41           Switzerland        6
42              Thailand        2
43                Turkey        3
44  United Arab Emirates        3
45        United Kingdom       46
46         United States      636
47               Vietnam        2

In [4]:
#bigcorp
num_2 = (bigcorp.groupby(['country']).count())[["campany_name"]]
num_2.reset_index(inplace=True)
num_2

                     country  campany_name
0                    Algeria             1
1                  Argentina             1
2                  Australia            20
3                    Austria             7
4                    Bahrain             1
..                       ...           ...
60      United Arab Emirates            67
61            United Kingdom           112
62  United States of America           824
63                   Uruguay             5
64                 Venezuela             1

[65 rows x 2 columns]

In [19]:
result = pd.merge(num_2, num_1, how="outer",on=["country"])

result.head(77)
#result.to_csv("result.csv")

                     country  campany_name  Company
0                    Algeria           1.0      NaN
1                  Argentina           1.0      1.0
2                  Australia          20.0      8.0
3                    Austria           7.0      2.0
4                    Bahrain           1.0      NaN
5                 Bangladesh           2.0      NaN
6                    Belgium           2.0      3.0
7                    Bermuda           4.0      1.0
8                    Bolivia           1.0      NaN
9                     Brazil           1.0     17.0
10                    Canada          36.0     19.0
11                     China          19.0    174.0
12                    Congo            1.0      NaN
13                      Cuba          26.0      NaN
14                   Denmark           8.0      2.0
15                     Egypt           3.0      NaN
16                   Finland          11.0      4.0
17                    France          69.0     24.0
18                   Germany         116.0     29.0
19                 Hong Kong           1.0      7.0
20                     India        3159.0     70.0
21                 Indonesia           3.0      7.0
22                   Ireland          11.0      6.0
23                    Israel           2.0     22.0
24                     Italy          19.0      1.0
25                     Japan          52.0      6.0
26                    Jordan           1.0      NaN
27                Kazakhstan           2.0      NaN
28                     Kenya           1.0      NaN
29                    Kuwait           1.0      NaN
30                   Lebanon           3.0      NaN
31                   Liberia           1.0      NaN
32             Liechtenstein           1.0      NaN
33                 Lithuania           1.0      2.0
34                Luxembourg           3.0      1.0
35                      Mali          24.0      NaN
36                    Mexico          12.0      8.0
37                     Nepal           1.0      NaN
38               Netherlands          37.0      7.0
39                   Nigeria           6.0      1.0
40                    Norway           2.0      5.0
41                      Oman          21.0      NaN
42                  Pakistan           4.0      NaN
43               Philippines          14.0      2.0
44                    Poland           1.0      NaN
45                  Portugal           1.0      NaN
46                     Qatar          25.0      NaN
47                    Russia           1.0      NaN
48              Saudi Arabia          26.0      NaN
49                 Singapore          29.0     13.0
50              South Africa           2.0      2.0
51               South Korea          19.0     17.0
52                     Spain           8.0      4.0
53                 Sri Lanka           1.0      NaN
54                    Sweden          18.0      8.0
55               Switzerland          29.0      6.0
56                     Syria           1.0      NaN
57                    Taiwan           4.0      NaN
58                  Thailand           3.0      2.0
59                    Turkey           2.0      3.0
60      United Arab Emirates          67.0      3.0
61            United Kingdom         112.0     46.0
62  United States of America         824.0      NaN
63                   Uruguay           5.0      NaN
64                 Venezuela           1.0      NaN
65                   Bahamas           NaN      1.0
66                     Chile           NaN      2.0
67                  Colombia           NaN      3.0
68                   Croatia           NaN      2.0
69            Czech Republic           NaN      1.0
70                   Ecuador           NaN      1.0
71                   Estonia           NaN      2.0
72                  Malaysia           NaN      1.0
73                   Senegal           NaN      1.0
74                Seychelles           NaN      1.0
75             United States           NaN    636.0
76                   Vietnam           NaN      2.0

In [21]:
result_1=pd.merge(result, continent[['country','continent']],how="left",on=["country"])
result_1.rename({'country': 'Country',
              'campany_name': 'no_corps',
              'Company': 'no_startups'}, axis=1, inplace=True)


result_1.head(77)
result_1.to_csv('comparison.csv',na_rep=0)