In [2]:
import pandas as pd
startup = pd.read_csv("startups.csv")
bigcorp = pd.read_csv("campanydata.csv")

In [2]:
startup

,Company,Valuation ($B),Year,Date Joined,Country,City,Industry,Investors,Number of investors,Count,Continent
0,ByteDance,$140,2017,7/04/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",4,1,Asia
1,SpaceX,$127,2012,1/12/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",3,1,Europe
2,SHEIN,$100,2018,3/07/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",3,1,Asia
3,Stripe,$95,2014,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",3,1,Europe
4,Canva,$40,2018,8/01/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",3,1,Oceania
...,...,...,...,...,...,...,...,...,...,...,...
1181,LeadSquared,$1,2022,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",3,1,Asia
1182,FourKites,$1,2022,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu...",3,1,Europe
1183,VulcanForms,$1,2022,5/07/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr...",3,1,Europe
1184,SingleStore,$1,2022,12/07/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective",3,1,Europe
1185,Unstoppable Domains,$1,2022,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",3,1,Europe

In [3]:
continent = pd.read_csv('countryContinent.csv')

In [15]:
num_1 = startup.groupby(['Country','Year']).count().reset_index()
num_1 = num_1[["Country","Year","Company"]]
num_1.rename({'Country': 'country'}, axis=1, inplace=True)
num_1

           country  Year  Company
0        Argentina  2021        1
1        Australia  2018        1
2        Australia  2019        1
3        Australia  2021        4
4        Australia  2022        2
..             ...   ...      ...
149  United States  2019       44
150  United States  2020       67
151  United States  2021      311
152  United States  2022      135
153        Vietnam  2021        2

[154 rows x 3 columns]

In [16]:
#bigcorp
num_2 = (bigcorp.groupby(['country']).count())[["campany_name"]]
num_2.reset_index(inplace=True)
num_2

                     country  campany_name
0                    Algeria             1
1                  Argentina             1
2                  Australia            20
3                    Austria             7
4                    Bahrain             1
..                       ...           ...
60      United Arab Emirates            67
61            United Kingdom           112
62  United States of America           824
63                   Uruguay             5
64                 Venezuela             1

[65 rows x 2 columns]

In [17]:
result = pd.merge(num_2, num_1, how="outer",on=["country"])

result.head(77)
#result.to_csv("result.csv")

      country  campany_name    Year  Company
0     Algeria           1.0     NaN      NaN
1   Argentina           1.0  2021.0      1.0
2   Australia          20.0  2018.0      1.0
3   Australia          20.0  2019.0      1.0
4   Australia          20.0  2021.0      4.0
..        ...           ...     ...      ...
72     Israel           2.0  2021.0     11.0
73     Israel           2.0  2022.0      6.0
74      Italy          19.0  2022.0      1.0
75      Japan          52.0  2018.0      1.0
76      Japan          52.0  2019.0      1.0

[77 rows x 4 columns]

In [20]:
result_1=pd.merge(result, continent[['country','continent']],how="left",on=["country"])
result_1.rename({'country': 'Country',
              'campany_name': 'no_corps',
              'Company': 'no_startups'}, axis=1, inplace=True)


result_1.head(77)
result_1.to_csv('comparison.csv',na_rep=0)

In [23]:
comparison=pd.read_csv('comparison.csv')
lng = pd.read_csv('countries.csv')
lng

,country,latitude,longitude,name
0,AD,42.546245,1.601554,Andorra
1,AE,23.424076,53.847818,United Arab Emirates
2,AF,33.939110,67.709953,Afghanistan
3,AG,17.060816,-61.796428,Antigua and Barbuda
4,AI,18.220554,-63.068615,Anguilla
5,AL,41.153332,20.168331,Albania
6,AM,40.069099,45.038189,Armenia
7,AN,12.226079,-69.060087,Netherlands Antilles
8,AO,-11.202692,17.873887,Angola
9,AQ,-75.250973,-0.071389,Antarctica
10,AR,-38.416097,-63.616672,Argentina
11,AS,-14.270972,-170.132217,American Samoa
12,AT,47.516231,14.550072,Austria
13,AU,-25.274398,133.775136,Australia
14,AW,12.521110,-69.968338,Aruba
15,AZ,40.143105,47.576927,Azerbaijan
16,BA,43.915886,17.679076,Bosnia and Herzegovina
17,BB,13.193887,-59.543198,Barbados
18,BD,23.684994,90.356331,Bangladesh
19,BE,50.503887,4.469936,Belgium
20,BF,12.238333,-1.561593,Burkina Faso
21,BG,42.733883,25.485830,Bulgaria
22,BH,25.930414,50.637772,Bahrain
23,BI,-3.373056,29.918886,Burundi
24,BJ,9.307690,2.315834,Benin
25,BM,32.321384,-64.757370,Bermuda
26,BN,4.535277,114.727669,Brunei
27,BO,-16.290154,-63.588653,Bolivia
28,BR,-14.235004,-51.925280,Brazil
29,BS,25.034280,-77.396280,Bahamas
30,BT,27.514162,90.433601,Bhutan
31,BV,-54.423199,3.413194,Bouvet Island
32,BW,-22.328474,24.684866,Botswana
33,BY,53.709807,27.953389,Belarus
34,BZ,17.189877,-88.497650,Belize
35,CA,56.130366,-106.346771,Canada
36,CC,-12.164165,96.870956,Cocos [Keeling] Islands
37,CD,-4.038333,21.758664,Congo [DRC]
38,CF,6.611111,20.939444,Central African Republic
39,CG,-0.228021,15.827659,Congo [Republic]
40,CH,46.818188,8.227512,Switzerland
41,CI,7.539989,-5.547080,C?te d'Ivoire
42,CK,-21.236736,-159.777671,Cook Islands
43,CL,-35.675147,-71.542969,Chile
44,CM,7.369722,12.354722,Cameroon
45,CN,35.861660,104.195397,China
46,CO,4.570868,-74.297333,Colombia
47,CR,9.748917,-83.753428,Costa Rica
48,CU,21.521757,-77.781167,Cuba
49,CV,16.002082,-24.013197,Cape Verde
50,CX,-10.447525,105.690449,Christmas Island
51,CY,35.126413,33.429859,Cyprus
52,CZ,49.817492,15.472962,Czech Republic
53,DE,51.165691,10.451526,Germany
54,DJ,11.825138,42.590275,Djibouti
55,DK,56.263920,9.501785,Denmark
56,DM,15.414999,-61.370976,Dominica
57,DO,18.735693,-70.162651,Dominican Republic
58,DZ,28.033886,1.659626,Algeria
59,EC,-1.831239,-78.183406,Ecuador
60,EE,58.595272,25.013607,Estonia
61,EG,26.820553,30.802498,Egypt
62,EH,24.215527,-12.885834,Western Sahara
63,ER,15.179384,39.782334,Eritrea
64,ES,40.463667,-3.749220,Spain
65,ET,9.145000,40.489673,Ethiopia
66,FI,61.924110,25.748151,Finland
67,FJ,-16.578193,179.414413,Fiji
68,FK,-51.796253,-59.523613,Falkland Islands [Islas Malvinas]
69,FM,7.425554,150.550812,Micronesia
70,FO,61.892635,-6.911806,Faroe Islands
71,FR,46.227638,2.213749,France
72,GA,-0.803689,11.609444,Gabon
73,GB,55.378051,-3.435973,United Kingdom
74,GD,12.262776,-61.604171,Grenada
75,GE,42.315407,43.356892,Georgia
76,GF,3.933889,-53.125782,French Guiana
77,GG,49.465691,-2.585278,Guernsey
78,GH,7.946527,-1.023194,Ghana
79,GI,36.137741,-5.345374,Gibraltar
80,GL,71.706936,-42.604303,Greenland
81,GM,13.443182,-15.310139,Gambia
82,GN,9.945587,-9.696645,Guinea
83,GP,16.995971,-62.067641,Guadeloupe
84,GQ,1.650801,10.267895,Equatorial Guinea
85,GR,39.074208,21.824312,Greece
86,GS,-54.429579,-36.587909,South Georgia and the South Sandwich Islands
87,GT,15.783471,-90.230759,Guatemala
88,GU,13.444304,144.793731,Guam
89,GW,11.803749,-15.180413,Guinea-Bissau
90,GY,4.860416,-58.930180,Guyana
91,GZ,31.354676,34.308825,Gaza Strip
92,HK,22.396428,114.109497,Hong Kong
93,HM,-53.081810,73.504158,Heard Island and McDonald Islands
94,HN,15.199999,-86.241905,Honduras
95,HR,45.100000,15.200000,Croatia
96,HT,18.971187,-72.285215,Haiti
97,HU,47.162494,19.503304,Hungary
98,ID,-0.789275,113.921327,Indonesia
99,IE,53.412910,-8.243890,Ireland
100,IL,31.046051,34.851612,Israel
101,IM,54.236107,-4.548056,Isle of Man
102,IN,20.593684,78.962880,India
103,IO,-6.343194,71.876519,British Indian Ocean Territory
104,IQ,33.223191,43.679291,Iraq
105,IR,32.427908,53.688046,Iran
106,IS,64.963051,-19.020835,Iceland
107,IT,41.871940,12.567380,Italy
108,JE,49.214439,-2.131250,Jersey
109,JM,18.109581,-77.297508,Jamaica
110,JO,30.585164,36.238414,Jordan
111,JP,36.204824,138.252924,Japan
112,KE,-0.023559,37.906193,Kenya
113,KG,41.204380,74.766098,Kyrgyzstan
114,KH,12.565679,104.990963,Cambodia
115,KI,-3.370417,-168.734039,Kiribati
116,KM,-11.875001,43.872219,Comoros
117,KN,17.357822,-62.782998,Saint Kitts and Nevis
118,KP,40.339852,127.510093,North Korea
119,KR,35.907757,127.766922,South Korea
120,KW,29.311660,47.481766,Kuwait
121,KY,19.513469,-80.566956,Cayman Islands
122,KZ,48.019573,66.923684,Kazakhstan
123,LA,19.856270,102.495496,Laos
124,LB,33.854721,35.862285,Lebanon
125,LC,13.909444,-60.978893,Saint Lucia
126,LI,47.166000,9.555373,Liechtenstein
127,LK,7.873054,80.771797,Sri Lanka
128,LR,6.428055,-9.429499,Liberia
129,LS,-29.609988,28.233608,Lesotho
130,LT,55.169438,23.881275,Lithuania
131,LU,49.815273,6.129583,Luxembourg
132,LV,56.879635,24.603189,Latvia
133,LY,26.335100,17.228331,Libya
134,MA,31.791702,-7.092620,Morocco
135,MC,43.750298,7.412841,Monaco
136,MD,47.411631,28.369885,Moldova
137,ME,42.708678,19.374390,Montenegro
138,MG,-18.766947,46.869107,Madagascar
139,MH,7.131474,171.184478,Marshall Islands
140,MK,41.608635,21.745275,Macedonia [FYROM]
141,ML,17.570692,-3.996166,Mali
142,MM,21.913965,95.956223,Myanmar [Burma]
143,MN,46.862496,103.846656,Mongolia
144,MO,22.198745,113.543873,Macau
145,MP,17.330830,145.384690,Northern Mariana Islands
146,MQ,14.641528,-61.024174,Martinique
147,MR,21.007890,-10.940835,Mauritania
148,MS,16.742498,-62.187366,Montserrat
149,MT,35.937496,14.375416,Malta
150,MU,-20.348404,57.552152,Mauritius
151,MV,3.202778,73.220680,Maldives
152,MW,-13.254308,34.301525,Malawi
153,MX,23.634501,-102.552784,Mexico
154,MY,4.210484,101.975766,Malaysia
155,MZ,-18.665695,35.529562,Mozambique
156,NaN,-22.957640,18.490410,Namibia
157,NC,-20.904305,165.618042,New Caledonia
158,NE,17.607789,8.081666,Niger
159,NF,-29.040835,167.954712,Norfolk Island
160,NG,9.081999,8.675277,Nigeria
161,NI,12.865416,-85.207229,Nicaragua
162,NL,52.132633,5.291266,Netherlands
163,NO,60.472024,8.468946,Norway
164,NP,28.394857,84.124008,Nepal
165,NR,-0.522778,166.931503,Nauru
166,NU,-19.054445,-169.867233,Niue
167,NZ,-40.900557,174.885971,New Zealand
168,OM,21.512583,55.923255,Oman
169,PA,8.537981,-80.782127,Panama
170,PE,-9.189967,-75.015152,Peru
171,PF,-17.679742,-149.406843,French Polynesia
172,PG,-6.314993,143.955550,Papua New Guinea
173,PH,12.879721,121.774017,Philippines
174,PK,30.375321,69.345116,Pakistan
175,PL,51.919438,19.145136,Poland
176,PM,46.941936,-56.271110,Saint Pierre and Miquelon
177,PN,-24.703615,-127.439308,Pitcairn Islands
178,PR,18.220833,-66.590149,Puerto Rico
179,PS,31.952162,35.233154,Palestinian Territories
180,PT,39.399872,-8.224454,Portugal
181,PW,7.514980,134.582520,Palau
182,PY,-23.442503,-58.443832,Paraguay
183,QA,25.354826,51.183884,Qatar
184,RE,-21.115141,55.536384,R?union
185,RO,45.943161,24.966760,Romania
186,RS,44.016521,21.005859,Serbia
187,RU,61.524010,105.318756,Russia
188,RW,-1.940278,29.873888,Rwanda
189,SA,23.885942,45.079162,Saudi Arabia
190,SB,-9.645710,160.156194,Solomon Islands
191,SC,-4.679574,55.491977,Seychelles
192,SD,12.862807,30.217636,Sudan
193,SE,60.128161,18.643501,Sweden
194,SG,1.352083,103.819836,Singapore
195,SH,-24.143474,-10.030696,Saint Helena
196,SI,46.151241,14.995463,Slovenia
197,SJ,77.553604,23.670272,Svalbard and Jan Mayen
198,SK,48.669026,19.699024,Slovakia
199,SL,8.460555,-11.779889,Sierra Leone
200,SM,43.942360,12.457777,San Marino
201,SN,14.497401,-14.452362,Senegal
202,SO,5.152149,46.199616,Somalia
203,SR,3.919305,-56.027783,Suriname
204,ST,0.186360,6.613081,S?o Tom? and Pr?ncipe
205,SV,13.794185,-88.896530,El Salvador
206,SY,34.802075,38.996815,Syria
207,SZ,-26.522503,31.465866,Swaziland
208,TC,21.694025,-71.797928,Turks and Caicos Islands
209,TD,15.454166,18.732207,Chad
210,TF,-49.280366,69.348557,French Southern Territories
211,TG,8.619543,0.824782,Togo
212,TH,15.870032,100.992541,Thailand
213,TJ,38.861034,71.276093,Tajikistan
214,TK,-8.967363,-171.855881,Tokelau
215,TL,-8.874217,125.727539,Timor-Leste
216,TM,38.969719,59.556278,Turkmenistan
217,TN,33.886917,9.537499,Tunisia
218,TO,-21.178986,-175.198242,Tonga
219,TR,38.963745,35.243322,Turkey
220,TT,10.691803,-61.222503,Trinidad and Tobago
221,TV,-7.109535,177.649330,Tuvalu
222,TW,23.697810,120.960515,Taiwan
223,TZ,-6.369028,34.888822,Tanzania
224,UA,48.379433,31.165580,Ukraine
225,UG,1.373333,32.290275,Uganda
226,UM,NaN,NaN,U.S. Minor Outlying Islands
227,US,37.090240,-95.712891,United States
228,UY,-32.522779,-55.765835,Uruguay
229,UZ,41.377491,64.585262,Uzbekistan
230,VA,41.902916,12.453389,Vatican City
231,VC,12.984305,-61.287228,Saint Vincent and the Grenadines
232,VE,6.423750,-66.589730,Venezuela
233,VG,18.420695,-64.639968,British Virgin Islands
234,VI,18.335765,-64.896335,U.S. Virgin Islands
235,VN,14.058324,108.277199,Vietnam
236,VU,-15.376706,166.959158,Vanuatu
237,WF,-13.768752,-177.156097,Wallis and Futuna
238,WS,-13.759029,-172.104629,Samoa
239,XK,42.602636,20.902977,Kosovo
240,YE,15.552727,48.516388,Yemen
241,YT,-12.827500,45.166244,Mayotte
242,ZA,-30.559482,22.937506,South Africa
243,ZM,-13.133897,27.849332,Zambia
244,ZW,-19.015438,29.154857,Zimbabwe

In [ ]:
result_2 = pd.merge(comparison,lng[['latitude','longitude']],how="left"