In [2]:
import pandas as pd
startup = pd.read_csv("startups.csv")
bigcorp = pd.read_csv("campanydata.csv")

In [3]:
startup

,Company,Valuation ($B),Year,Date Joined,Country,City,Industry,Investors,Number of investors,Count,Continent
0,ByteDance,$140,2017,7/04/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",4,1,Asia
1,SpaceX,$127,2012,1/12/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",3,1,Europe
2,SHEIN,$100,2018,3/07/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",3,1,Asia
3,Stripe,$95,2014,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",3,1,Europe
4,Canva,$40,2018,8/01/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",3,1,Oceania
...,...,...,...,...,...,...,...,...,...,...,...
1181,LeadSquared,$1,2022,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",3,1,Asia
1182,FourKites,$1,2022,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu...",3,1,Europe
1183,VulcanForms,$1,2022,5/07/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr...",3,1,Europe
1184,SingleStore,$1,2022,12/07/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective",3,1,Europe
1185,Unstoppable Domains,$1,2022,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",3,1,Europe

In [11]:
dataset1 = startup.groupby(['Continent','Year']).count()
dataset1

                Company  Valuation ($B)  Date Joined  Country  City  Industry  \
Continent Year
0         2014        1               1            1        1     1         1
          2015        1               1            1        1     1         1
          2016        1               1            1        1     1         1
          2018        2               2            2        2     2         2
          2019        3               3            3        3     3         3
          2020        1               1            1        1     1         1
          2021        3               3            3        3     3         3
          2022        5               5            5        5     5         5
Africa    2016        1               1            1        1     1         1
          2017        1               1            1        1     1         1
          2020        1               1            1        1     1         1
          2021       17              17           17       17    17        17
          2022        4               4            4        4     4         4
Americas  2015        1               1            1        1     1         1
          2017        1               1            1        1     1         1
          2018        3               3            3        3     3         3
          2019        4               4            4        4     4         4
          2020        4               4            4        4     4         4
          2021       14              14           14       14    14        14
          2022        7               7            7        7     7         7
Asia      2012        1               1            1        1     1         1
          2014        4               4            4        4     4         4
          2015       19              19           19       19    19        19
          2016       14              14           14       14    14        14
          2017       29              29           29       29    29        29
          2018       47              47           47       47    47        47
          2019       37              37           37       37    37        37
          2020       28              28           28       28    28        28
          2021      133             133          133      133   133       133
          2022       46              46           46       46    46        46
Europe    2007        1               1            1        1     1         1
          2011        2               2            2        2     2         2
          2012        3               3            3        3     3         3
          2013        3               3            3        3     3         3
          2014        7               7            7        7     7         7
          2015       13              13           13       13    13        13
          2016        5               5            5        5     5         5
          2017       13              13           13       13    13        13
          2018       45              45           45       45    45        45
          2019       57              57           57       57    57        57
          2020       74              74           74       74    74        74
          2021      358             358          358      358   358       358
          2022      164             164          164      164   164       164
Oceania   2018        1               1            1        1     1         1
          2019        1               1            1        1     1         1
          2021        4               4            4        4     4         4
          2022        2               2            2        2     2         2

                Investors  Number of investors  Count
Continent Year
0         2014          1                    1      1
          2015          1                    1      1
          2016          1                    1      1
          2018          2                    2      2
          2019          3                    3      3
          2020          1                    1      1
          2021          3                    3      3
          2022          5                    5      5
Africa    2016          1                    1      1
          2017          1                    1      1
          2020          1                    1      1
          2021         17                   17     17
          2022          4                    4      4
Americas  2015          1                    1      1
          2017          1                    1      1
          2018          3                    3      3
          2019          4                    4      4
          2020          4                    4      4
          2021         13                   14     14
          2022          7                    7      7
Asia      2012          1                    1      1
          2014          4                    4      4
          2015         18                   19     19
          2016         14                   14     14
          2017         28                   29     29
          2018         47                   47     47
          2019         36                   37     37
          2020         27                   28     28
          2021        121                  133    133
          2022         45                   46     46
Europe    2007          1                    1      1
          2011          2                    2      2
          2012          3                    3      3
          2013          3                    3      3
          2014          7                    7      7
          2015         13                   13     13
          2016          5                    5      5
          2017         13                   13     13
          2018         45                   45     45
          2019         57                   57     57
          2020         74                   74     74
          2021        358                  358    358
          2022        164                  164    164
Oceania   2018          1                    1      1
          2019          1                    1      1
          2021          4                    4      4
          2022          2                    2      2

OSError: Cannot save file into a non-existent directory: '3179'